
  .login-btn-signup{
    width: 200px;
    height: 50px;
    outline: none;
    color: #ffffff;
    background: #ed563b;
    border-radius: 6px;
    margin-top: 70px;
    margin-left:20px ;
    font-weight: 500;
    border: none;
    cursor: pointer;
    font-size: 20px;
  }
  .register-btn-signup {
    width: 200px;
    height: 50px;
    outline: none;
    color: #ffffff;
    background: #ed563b;
    border-radius: 6px;
    margin-top: -50px;
    margin-left:170px ;
    font-weight: 500;
    border: none;
    cursor: pointer;
    font-size: 20px;


  }
  .login-btn-login{
    width: 200px;
    height: 50px;
    outline: none;
    color: #ffffff;
    background: #ed563b;
    border-radius: 6px;
    margin-top: 70px;
    margin-left:170px ;
    font-weight: 500;
    border: none;
    cursor: pointer;
    font-size: 20px;
  }
  .register-btn-login {
    width: 200px;
    height: 50px;
    outline: none;
    color: #ffffff;
    background: #ed563b;
    border-radius: 6px;
    margin-top: -50px;
    margin-left:15px ;
    font-weight: 500;
    border: none;
    cursor: pointer;
    font-size: 20px;


  }